body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  font-size: calc(3px + 2vmin);
}

form {
  margin: 0 auto;
  width: 20%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.8);
  background-color: white;
  color: black;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 30;
}

.errorMessage {
  color: #bf1650;
  font-size: 14px;
  margin: 0;
}

.key1 {
  padding-bottom: 20px;
}

.key2 {
  padding-bottom: 20px;
}

.key3 {
  padding-bottom: 20px;
}

.value {
  padding-bottom: 20px;
}

.header {
  margin-bottom: 100px;
}

.list {
  background-color: #383e56;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 100px;
  margin: 40px auto;
  width: 700px;
}

.listItem {
  width: 550px;
  background-color: #251f44;
  height: 50px;
  margin: 30px auto;
  border-radius: 5px;
}

.listItem p {
  text-align: left;
  padding: 10px;
  position: relative;
}

.listItem p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.editIcon {
  position: absolute;
  right: 50px;
  top: 4px;
  margin:
}

.modal {
  position: fixed;
  margin: auto;
  width: 20%;
  height: 400px;
  border-radius: 30px;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.8);
  background: rgba(255, 255, 255);
  color: black;
}
