body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  font-size: calc(3px + 2vmin);
}

.header {
  margin-top: 30px;
  font-weight: bold;
  font-size: 70px;
}

.btn-panel {
  width: 25em;
  padding: 0 55px;
  margin: 70px auto;
  border-radius: 30px;
  background-color: white;
  color: black;
}

.btn-group-vertical > button{
    margin:50px auto;
    padding: 30px;
    border-radius:10px !important;
}

.rdp-picker {
  margin: 0 auto;
 }

.container {
  color: black;
}

.day-container{
  padding-right: 15px;
}

.modal{
  /* max-width: 55em;
  max-height: 35em;
  border-radius: 30px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 30px;
  text-align: center;
  left: 13%; */
  color: black;

}

/* .modal button{
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
}
.modal p{
  color: #444;
  font-weight: bold;
} */

/* .week-picker button{
  font-size: 15px;
} */

/*
.errorMessage {
  color: #bf1650;
  font-size: 14px;
  margin: 0;
} */

/* .key1 {
  padding-bottom: 20px;
}

.key2 {
  padding-bottom: 20px;
}

.key3 {
  padding-bottom: 40px;
}
.value {
  padding-bottom: 20px;
}

.header {
  margin-bottom: 100px;
} */
/*
.list {
  background-color: #383e56;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 100px;
  margin: 40px auto;
  width: 700px;
}

.listItem {
  width: 650px;
  background-color: #251f44;
  height: 55px;
  margin: 30px auto;
  border-radius: 5px;
}

.listItem p {
  text-align: left;
  padding: 10px;
  position: relative;
}

.listItem p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.editIcon {
  position: absolute;
  right: 50px;
  top: 4px;
  margin:
} */
/*
form {
  margin: 0 auto;
  margin-bottom: 100px;
} */

/* .modal {
  position: fixed;
  margin: auto;
  width: 20%;
  height: 350px;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
} */
